<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details Page</title>
    <link rel="stylesheet" type="text/css" href="/css/details.css">
</head>
<body>


   <header id="details-header">
        <h1>Project Details</h1>
        <p>
            <span>Title:</span> 
            <%=project.name%>
           <small> <em style="font-family:cursive">(Author:<%=project.author%>)</em></small>
        </p>
        <p>
            <span>Description:</span> 
            <%=project.description%>
        </p>

        <nav id="header-btn">
            <a href="#create-project-form">Create Issue</a>
            <a href="/">Go Back</a>
        </nav>
   </header>
   
 

   <section id="search-issue">
        <h2>List of Issues</h2>
        <hr>
        <div id="search-inputs-and-btn-container">
            <form id="search-by-title-or-label" class="input-container" data-projectId="<%= project.id%>">
                <input type="text" name="search" placeholder="Search by title or label" required>
                <button type="submit">Search</button>
            </form>
            <form id="search-by-author" class="input-container" data-projectId="<%= project.id%>">

                <select name="author" id="" required>
                   <% for(let i=0;i<authors.length;i++){ %>
                    <option value="<%= authors[i]%>"><%= authors[i] %></option>
                   <%}%>
                </select>
                <button type="submit">Search</button>
            </form>
            <form id="clear-filter" class="input-container" data-projectId="<%= project.id%>">
                <!-- <input type="text" name="" placeholder="search by author"> -->
                <button type="submit">Clear Filter</button>
            </form>
        </div>
        <hr>
   </section>

   <section id="issue-table">
        <table >
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Author</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="table-body">

                <%if(issues.length===0){%>
                    <tr>
                        <td colspan='4' style="text-align:center">No issue found!, Added issue display here..</td>
                    </tr>
                <%}%>
                <!-- iterate over issues -->
               <% for(let i=issues.length-1;i>=0;i--){ %>
                    <tr>
                        <td><%= issues[i].title %></td>
                        <td><%= issues[i].description %></td>
                        <td><%= issues[i].author %></td>
                        <td class="open">Open</td>
                    </tr>
                <% } %>
            </tbody>
            <!-- <tfoot>
                <tr>
                    <td colspan="4">copyright &copy; </td>
                </tr>
            </tfoot> -->
        </table>
   </section>
<!-- ../  current(location) url path one path back -->
   <form id="create-issue-form" action="../create-issue/<%= project.id%>" method="post">
   
    <div>
        <h1>CREATE ISSUE</h1>
    </div>

    <div>
        <div>
            <input type="text" required name="title" placeholder="Title">
        </div>
    
        <div>
            <input type="text" required name="description" placeholder="Description">
        </div>
    
        <div>
            <input type="text" required name="labels" placeholder="Enter labels more than one separated by comas">
        </div>

        <div>
            <input type="text" required name="author" placeholder="Author Name">
        </div>

        <div id="create-project-form-btn">
            <!-- <input type="hidden" name="projectId" value="<%= project.id%>"> -->
            <button type="submit"> Create Issue</button>
            <a href="#details-header" id="create-project-cancel-btn">Close</a>
        </div>
    
    </div>

    
   </form>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script src="/js/details.js"></script>
</body>
</html>